.filter {
  grid-column: 3 / 7;
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;

  &__btns {
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
    border: solid $green 1px;
    border-radius: 50rem;
    text-transform: capitalize;
    background: none;
    outline: none;

    &:hover {
      background: $green;
      color: white;
      cursor: pointer;
    }
  }
}

.activeBtn {
  background: $green;
  color: white;
}

.bottomBtns {
  @include centerColumn;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;

  &__link {
    color: gray;
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: capitalize;

    &:hover {
      text-decoration: underline;
    }
  }
}
