.widecard {
  @include wideCardDimensions;

  &--title {
    @include cardTextTop;
    color: white;
  }

  &--text {
    @include cardTextBottom;
    @include whiteBackgroundText;
    color: $black;
  }
}

.wideCardTextOnly {
  @include wideCardDimensions;
  color: white;

  &--textbox {
    @include cardTextTop;
    color: white;
  }

  &--h4 {
  }

  &--h2 {
    margin-bottom: 1rem;
  }

  &--paragraph {
  }
}

.singleCard {
  @include singleCardDimensions;
  color: white;

  &--title {
    @include cardTextTop;
  }

  &:hover > .singleCard--text {
    opacity: 1;
    transition: all ease-out 1s;
  }

  &--text {
    opacity: 0;
    transition: all ease-in 1s;
    @include cardTextBottom;
    @include noWhiteBackgroundText;
  }
}

.singleCardHeader {
  @include singleCardDimensions;
  &--h2 {
    font-size: 3.5rem;
    color: white;
    margin: 5rem 2rem;
    line-height: 6rem;
  }
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skillsbox {
  display: grid;
  grid-template-rows: min-content min-content;
  align-items: center;
  margin: 3rem 0;
  height: auto;

  &__container {
    display: flex;
    grid-row: 1;
    align-items: center;
    margin-bottom: 3rem;
  }
  &__img {
    align-items: center;
    width: 12%;
    border-radius: 20px;
    margin-right: 2rem;
  }
  &__textbox {
    flex-grow: 2;

    &--h4 {
    }

    &--h2 {
      margin-bottom: 1rem;
    }
  }
  &__line {
    grid-row: 2;
    color: $greybar;
    height: 1px;
    opacity: 0.2;
  }
}
