// .transition {
// position: fixed;
// width: 100vw;
// height: 100vh;
// top: 0;
// left: 0;
// background-color: $blue;
// display: flex;
// align-items: center;
// justify-content: center;
// transform: translateY(-100%);
// z-index: 99;
// color: white;

.transition {
  position: fixed;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  pointer-events: none;
}

.transition li {
  width: 100%;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  background: blue;
}

// /* Transition with cover screen */
// .cover-leave-active,
// .cover-enter-active,
// .cover-leave-active .transition,
// .cover-enter-active .transition {
//   transition: transform 0.7s $cubic;
// }

// .cover-leave .transition {
//   transform: translateY(-100%);
// }

// .cover-leave-to .transition {
//   transform: translateY(0);
// }

// .cover-enter .transition {
//   transform: translateY(0);
// }

// .cover-enter-to .transition {
//   transform: translateY(100%);
// }

// .cover-leave {
//   opacity: 1;
//   //   transform: translateY(100%);
// }

// .cover-leave-active {
//   transition: all 2s ease-in-out;
// }

// .cover-leave-to {
//   opacity: 0;
//   //   transform: translateY(0);
// }

// .cover-enter {
//   opacity: 0;
//   //   transform: translateY(100%);
// }

// .cover-enter-active {
//   transition: all 2s ease-in-out;
// }

// .cover-enter-to {
//   opacity: 1;
//   //   transform: translateY(0);
// }
