.bindCards {
  @include centerColumn;
  margin-top: 2rem;

  &__prototype {
    background-image: url('../img/bindPrototype.gif');
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__palette {
    &--1 {
      background: #fffbeb;
      color: $black;
    }
    &--2 {
      background: #83e7fd;
      color: $black;
    }
    &--3 {
      background: #fcd577;
      color: $black;
    }
    &--4 {
      background: #fca390;
    }
    &--5 {
      background: #1e1c1c;
    }
    &--6 {
      background: #2493D8;
    }
    &--7 {
      background: #ED2376;
    }
    &--8 {
      background: #F4721C;
    }
    &--9 {
      background: #FFD708;
    }
    &--10 {
      background: #000038;
    }
  }

  &__image {
    display: flex;
    align-self: center;
    width: 70%;
    margin: 0 auto;

    @include media(tabPort) {
      width: 95%;
    }
  }
}
