.bindCards {
  grid-column: 3 / 7;
  margin-top: 2rem;

  &__palette {
    &--1 {
      background: #fffbeb;
      color: $black;
    }
    &--2 {
      background: #83e7fd;
      color: $black;
    }
    &--3 {
      background: #fcd577;
      color: $black;
    }
    &--4 {
      background: #fca390;
    }
    &--5 {
      background: #1e1c1c;
    }
  }

  &__image {
    display: flex;
    align-self: center;
    width: 70%;
    margin: 0 auto;
  }
}
