.crouchinbunnyCards {
  @include centerColumn;
  margin-top: 2rem;

  &--panels {
    width: 90%;
    margin: 2rem;
  }

  &--gif1 {
    background-image: url('/img/crouchinStart.gif');
    background-size: cover;
    background-position: center;
  }
  &--gif2 {
    background-image: url('/img/crouchinEnd.gif');
    background-size: cover;
    background-position: center;
  }
}
