.crouchinbunnyCards {
  grid-column: 3 / 7;
  margin-top: 2rem;

  &--panels {
    width: 90%;
    margin: 2rem;
  }

  &--gif1 {
    background-image: url('/img/crouchinStart.gif');
    background-size: cover;
  }
  &--gif2 {
    background-image: url('/img/crouchinEnd.gif');
    background-size: cover;
  }
}
