.crouchinbunnyCards {
  @include centerColumn;
  margin-top: 2rem;

  &--panels {
    width: 90%;
    margin: 2rem;
  }

  &--gif1 {
    background-image: url('/img/crouchinbunny-starting-soon.gif');
    background-size: cover;
    background-position: center;
  }
  &--gif2 {
    background-image: url('/img/crouchinbunny-thanks-for-watching.gif');
    background-size: cover;
    background-position: center;
  }
}
