.inputCards {
  @include centerColumn;
  margin-top: 2rem;

  &__palette {
    &--1 {
      background: #227c9d;
    }
    &--2 {
      background: #31c8b9;
    }
    &--3 {
      background: #fe6d73;
    }
    &--4 {
      background: #fef9ef;
      color: gray;
    }
    &--5 {
      background: #ffcb77;
    }
    &--6 {
      background: #c9c9c9;
    }
  }
  &__image {
    display: flex;
    align-self: center;
    width: 70%;
    margin: 0 auto;

    @include media(tabPort) {
      width: 95%;
    }
  }
}
