.kawaiiCards {
  grid-column: 3 / 7;
  margin-top: 8rem;

  &__one {
    background-image: url('/img/kawaiiBanner.png');
    @include backgroundImage;
  }

  &__two {
    background: $green;
  }

  &__three {
    background: $blue;
  }

  &__four {
    background-image: url('/img/card.jpg');
    @include backgroundImage;
  }
  &__four {
    background-image: url('/img/card.jpg');
    @include backgroundImage;
  }
  &__five {
    background-image: url('/img/card.jpg');
    @include backgroundImage;
  }
  &__six {
    background-image: url('/img/card.jpg');
    @include backgroundImage;
  }
  &__seven {
    background-image: url('/img/card.jpg');
    @include backgroundImage;
  }
  &__eight {
    background-image: url('/img/card.jpg');
    @include backgroundImage;
  }
}
