.volCards {
  @include centerColumn;
  margin-top: 2rem;

  &--quiz {
    width: 70%;

    @include media(tabPort) {
      width: 55%;
    }
  }

  &--deck {
    width: 65%;

    @include media(tabPort) {
      width: 80%;
    }
  }

  &__gifBackground {
    background: $green;
  }

  &__gif {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-content: center;

    &--width {
      width: 30%;
      object-fit: contain;
    }
  }
}
