@mixin backgroundImage {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin cardActive {
  scale: 0.99;
  filter: drop-shadow(0 0.3rem 0.3rem rgba(0, 0, 0, 0));
}

@mixin cardTextBottom {
  position: absolute;
  padding: 2.5rem 2rem;
  bottom: 0;
}

@mixin cardTextTop {
  position: absolute;
  margin: 0 2rem;
  top: 2rem;
}

@mixin cardHover {
  scale: 1.01;
  filter: drop-shadow(0 0.3rem 0.3rem rgba(0, 0, 0, 0.1));
}

@mixin centerColumn {
  grid-column: 3 / 7;
}

@mixin imageZoom {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 30px;
}

@mixin marginBottom {
  margin-bottom: 15rem;
}

@mixin navTransition {
  transition: all ease 0.3s;
}

@mixin noWhiteBackgroundText {
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

@mixin singleCardDimensions {
  width: 49%;
  height: 560px;
  border-radius: 30px;
  margin: 1rem 0;

  @include media(tabPort) {
    width: 100%;
  }
}

@mixin skillsLevel {
  width: 100%;
  height: 2.5rem;
  background: $greybar;
  border-radius: 30px;
  position: relative;
}

@mixin skillsLevelBefore {
  display: flex;
  font-size: 1.5rem;
  padding: 1rem;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 30px;
  background: $green;
}

@mixin transition {
  transition: scale cubic-bezier(0.39, 0.04, 0.4, 1.25) 0.4s;
}

@mixin wideCardDimensions {
  width: 100%;
  height: 400px;
  border-radius: 30px;
  margin: 1rem 0;
  position: relative;
}

@mixin whiteBackgroundText {
  background: white;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

// $smallDesk		1200px
// $tabLand			1200px / 75em
// $tabPort			850px  / 54em
// $phoneLand		667px	 / 42em
// $phonePort		580px  / 37em

@mixin media($breakPoint) {
  @if $breakPoint == tabLand {
    @media (max-width: 75em) {
      @content;
    }
  }
  @if $breakPoint == tabPort {
    @media (max-width: 54em) {
      @content;
    }
  }
  @if $breakPoint == phoneLand {
    @media (max-width: 42em) {
      @content;
    }
  }

  @if $breakPoint == phonePort {
    @media (max-width: 37em) {
      @content;
    }
  }
}
