// @mixin grid {
// 				grid-column: centre-start / centre-end;
// 				display: grid;
// 				grid-template-columns: repeat(12, 1fr);
// }

// @mixin skillHover {
// 				border: solid 7px $nord7;
// 				scale: 1.2;
// }

// @mixin animate {
// 				transition: .8s cubic-bezier(.16,1,.3,1);
// }

// @mixin skillsAlign {
// 				margin: .5rem;
// 				display: flex;
// 				align-items: center;
// 				justify-content: center;
// }

/* Media Query Manager

$smallDesk		1200px 
$tabLand			1200px / 75em
$tabPort			850px  / 54em	
$phoneLand		667px	 / 42em	
$phonePort		580px  / 37em

*/

// @mixin media($bp) {
// 				@if $bp == tabLand {
// 								@media (max-width: 75em) {@content};
// 				}
// 				@if $bp == tabPort {
// 								@media (max-width: 54em) {@content};
// 				}
// 				@if $bp == phoneLand {
// 								@media (max-width: 42em) {@content};
// 				}

// 				@if $bp == phonePort {
// 								@media (max-width: 37em) {@content};
// 				}
// }
