footer {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 2;
  grid-template-columns: minmax(150px, 1fr) repeat(6, 1fr) minmax(150px, 1fr);
  background: $black;
}

.footer {
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2 / span 1;
    width: 40%;
    padding: 5px;
    margin: 0 auto;
    cursor: pointer;
  }

  &__nav {
    grid-column: 3 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__unordered {
  }

  &__listitems {
    list-style: none;
    text-transform: capitalize;
    margin: 2rem;
    color: white;
  }

  &__link {
    text-decoration: none;
    color: white;
  }

  &__copyright {
    grid-column: 6 / span 1;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--text {
      font-size: 1.5rem;
      margin: 1rem 0;
      text-transform: capitalize;
      color: white;
    }
  }
}

main {
  padding-bottom: 15rem;
}
