.container {
  display: grid;
  grid-template-columns: minmax(150px, 1fr) repeat(6, 1fr) minmax(150px, 1fr);
  grid-template-rows: min-content 40vh;
}

.wrapper {
  position: relative;
}

.detail {
  display: grid;
  grid-template-columns: minmax(150px, 1fr) repeat(6, 1fr) minmax(150px, 1fr);
  grid-template-rows: min-content;
}
