header {
  grid-column: 2 / 8;
  grid-row: 1;
  z-index: 1;
  height: 10vh;
  color: white;
  position: relative;
}

.hamburger {
  display: none;
  position: absolute;
  top: 3rem;
  right: 1rem;
  width: 3%;
  cursor: pointer;

  @include media(phoneLand) {
    display: block;
    cursor: pointer;
  }
}

.nav {
  grid-template-columns: repeat(6, 1fr);
  display: grid;
  align-items: center;

  &__close {
    display: none;
    margin: 2.5rem 1rem 0 2.5rem;

    @include media(phoneLand) {
      display: block;
      cursor: pointer;
    }
  }

  &__logo {
    grid-column: 1 / span 1;
    margin: 2rem auto;
    padding: 5px;
    width: 40%;
    display: flex;
    justify-content: center;

    &--link {
      @include media(phoneLand) {
        align-self: flex-start;
      }
    }
  }

  &__navbar {
    display: grid;
    grid-column: 3 / 8;
    @include navTransition;

    @include media(phoneLand) {
      background: $red;
      width: 80vw;
      transform: translateX(40%);
      display: flex;
      z-index: 1;
    }

    &--toggle {
      @include media(phoneLand) {
        transform: translateX(100%);
      }
    }
  }

  &__unordered {
    display: flex;
    justify-content: space-around;

    @include media(phoneLand) {
      flex-direction: column;
      margin-left: 3rem;
    }
  }

  &__listitems {
    margin: 3rem 0;
    list-style: none;
    text-transform: capitalize;
  }

  &__link {
    text-decoration: none;
    color: white;
    position: relative;
    overflow: hidden;

    &:hover {
      color: $grey;
      transition: all ease 1s;
    }

    &:hover::after {
      content: '';
      width: 100%;
      bottom: -40%;
      left: 0;
      border: $red 3px solid;
      border-radius: 30px;
      position: absolute;
      animation: nav 1s;
    }

    &--active {
      color: $darkGreen;
      padding-bottom: 3px;
    }
  }
}

@keyframes nav {
  100% {
    width: 100%;
  }

  0% {
    width: 0%;
  }
}
