header {
  grid-column: 2 / 8;
  grid-row: 1;
  z-index: 1;
  height: 10vh;
  color: white;
}

.nav {
  grid-template-columns: repeat(6, 1fr);
  display: grid;

  &__logo {
    grid-column: 1 / span 1;
    margin: 2rem auto;
    padding: 5px;
    width: 45px;
    height: 45px;
    background: black;
    border-radius: 50%;
  }

  &__navbar {
    display: grid;
    grid-column: 3 / 8;
  }

  &__unordered {
    display: flex;
    justify-content: space-around;
  }

  &__listitems {
    margin: 3rem 0;
    list-style: none;
    text-transform: capitalize;
  }
  &__link {
    text-decoration: none;
    color: white;
    @include navTransition;

    &:hover {
      color: $green;
      padding-bottom: 3px;
      border-bottom: solid yellow 3px;
    }

    &--active {
      color: $blue;
      padding-bottom: 3px;
    }
  }
}
