.hero {
  grid-column: 1 / -1;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(150px, 1fr) repeat(6, 1fr) minmax(150px, 1fr);
  position: relative;
  overflow: hidden;
  @include backgroundImage;

  @include media(tabPort) {
    grid-template-columns: minmax(100px, 1fr) repeat(6, 1fr) minmax(100px, 1fr);

    @include media(phoneLand) {
      grid-template-columns: minmax(10px, 20px) repeat(6, 1fr) minmax(
          10px,
          20px
        );
    }
    @include media(phonePort) {
      grid-template-columns: minmax(5px, 10px) repeat(6, 1fr) minmax(5px, 10px);
    }
  }

  &__illustration {
    width: 100vw;
  }

  &__titles {
    @include centerColumn;
    position: absolute;
    bottom: 15rem;
    color: $title;

    @include media(tabPort) {
      grid-template-columns: minmax(100px, 1fr) repeat(6, 1fr) minmax(
          100px,
          1fr
        );
      bottom: 5rem;
    }

    @include media(phonePort) {
      display: none;
    }

    &--h3 {
      opacity: 0.5;
    }
  }
}
