.main__about {
  grid-column: 1 / -1;
  grid-row: 1;
  display: grid;
  grid-template-columns: minmax(150px, 1fr) repeat(6, 1fr) minmax(150px, 1fr);
  background: $grey;

  @include media(tabPort) {
    grid-template-columns: minmax(100px, 1fr) repeat(6, 1fr) minmax(100px, 1fr);
  }
}

.aboutCards {
  grid-column: 3 / 7;
  margin-top: 8rem;

  &__logo {
    width: 90%;
    margin: 1rem auto;
  }

  &__languages {
    margin: 0 auto;
    margin-bottom: 3rem;
    width: 90% !important;
  }
}
