.main__home {
  grid-column: 1 / -1;
  grid-row: 1;
  display: grid;
  grid-template-columns: minmax(150px, 1fr) repeat(6, 1fr) minmax(150px, 1fr);
  background: $grey;
}

.homehero {
  grid-column: 1 / -1;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(150px, 1fr) repeat(6, 1fr) minmax(150px, 1fr);
  position: relative;
  overflow: hidden;
  @include backgroundImage;

  &__illustration {
    width: 100vw;
  }

  &__titles {
    grid-column: 3;
    position: absolute;
    bottom: 15rem;
    color: white;

    &--h3 {
      opacity: 0.5;
    }
  }
}

.homecards {
  grid-column: 3 / 7;

  &__title {
    margin: 7rem 0;
  }
  &__first {
    background-image: url('/img/card.jpg');
    @include backgroundImage;
    @include transition;

    &:hover {
      @include cardHover;
    }
  }

  &__second {
    background-image: url('/img/work.jpg');
    @include backgroundImage;
    @include marginBottom;
    @include transition;

    &:hover {
      @include cardHover;
    }
  }

  &__third {
    background-image: url('/img/about.jpg');
    @include backgroundImage;
    @include marginBottom;
    @include transition;

    &:hover {
      @include cardHover;
    }
  }
}
