.main__home {
  grid-column: 1 / -1;
  grid-row: 1;
  display: grid;
  grid-template-columns: minmax(150px, 1fr) repeat(6, 1fr) minmax(150px, 1fr);
  background: $grey;

  @include media(tabLand) {
    grid-template-columns: minmax(100px, 1fr) repeat(6, 1fr) minmax(100px, 1fr);
  }
  @include media(phoneLand) {
    grid-template-columns: minmax(10px, 20px) repeat(6, 1fr) minmax(10px, 20px);
  }
}

.homecards {
  @include centerColumn;
  &__title {
    margin: 7rem 0;
  }

  &__one {
    background-image: url('/img/homeCardWork.svg');
    @include backgroundImage;
    @include transition;

    &:hover {
      @include cardHover;
    }
  }

  &__two {
    background-image: url('/img/homeCardSkills.svg');
    @include backgroundImage;
    @include transition;

    &:hover {
      @include cardHover;
    }
  }

  &__three {
    background-image: url('/img/homeCardAbout.svg');
    @include backgroundImage;
    @include transition;

    &:hover {
      @include cardHover;
    }
  }
}
