.main__home {
  grid-column: 1 / -1;
  grid-row: 1;
  display: grid;
  grid-template-columns: minmax(150px, 1fr) repeat(6, 1fr) minmax(150px, 1fr);
  background: $grey;
}

.homecards {
  grid-column: 3 / 7;

  &__title {
    margin: 7rem 0;
  }
  &__one {
    background-image: url('/img/homeCardWork.svg');
    @include backgroundImage;
    @include transition;

    &:hover {
      @include cardHover;
    }
  }

  &__two {
    background-image: url('/img/homeCardSkills.svg');
    @include backgroundImage;
    @include marginBottom;
    @include transition;

    &:hover {
      @include cardHover;
    }
  }

  &__three {
    background-image: url('/img/homeCardAbout.svg');
    @include backgroundImage;
    @include marginBottom;
    @include transition;

    &:hover {
      @include cardHover;
    }
  }
}
