.main__single {
  grid-column: 1 / -1;
  grid-row: 1;
  display: grid;
  grid-template-columns: minmax(150px, 1fr) repeat(6, 1fr) minmax(150px, 1fr);
  background: $grey;

  @include media(tabLand) {
    grid-template-columns: minmax(100px, 1fr) repeat(6, 1fr) minmax(100px, 1fr);
  }
  @include media(phoneLand) {
    grid-template-columns: minmax(10px, 20px) repeat(6, 1fr) minmax(10px, 20px);
  }
}

.singlehero {
  grid-column: 1 / -1;
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(150px, 1fr) repeat(6, 1fr) minmax(150px, 1fr);
  position: relative;
  background-image: url('/img/about.jpg');
  @include backgroundImage;

  &__titles {
    grid-column: 3;
    position: absolute;
    bottom: 15rem;
    color: white;

    &--h3 {
      opacity: 0.5;
    }
  }
}

.singlecards {
  @include centerColumn;
  margin-top: 8rem;

  &__first {
    background: $blue;
  }

  &__second {
    background: $green;
  }

  &__third {
    background-image: url('/img/card.jpg');
    @include backgroundImage;
  }

  &__fourth {
    background-image: url('/img/card.jpg');
    @include backgroundImage;
    @include marginBottom;
  }
}
