.main__skills {
  grid-column: 1 / -1;
  grid-row: 1;
  display: grid;
  grid-template-columns: minmax(150px, 1fr) repeat(6, 1fr) minmax(150px, 1fr);
  background: $grey;
}

.skillshero {
  grid-column: 1 / -1;
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(150px, 1fr) repeat(6, 1fr) minmax(150px, 1fr);
  position: relative;
  background-image: url('/img/card.jpg');
  @include backgroundImage;

  &__titles {
    grid-column: 3;
    position: absolute;
    bottom: 15rem;
    color: white;

    &--h3 {
      opacity: 0.5;
    }
  }
}

.skillscards {
  grid-column: 3 / 7;
  margin-top: 8rem;
}

.photoshop {
  @include skillsLevel;

  &::before {
    @include skillsLevelBefore;
    background: $green;
    width: 10%;
  }
}

.illustrator {
  @include skillsLevel;

  &::before {
    @include skillsLevelBefore;
    background: $blue;
    width: 80%;
  }
}

.aftereffects {
  @include skillsLevel;

  &::before {
    @include skillsLevelBefore;
    background: red;
    width: 40%;
  }
}
