.main__work {
  grid-column: 1 / -1;
  grid-row: 1;
  display: grid;
  grid-template-columns: minmax(150px, 1fr) repeat(6, 1fr) minmax(150px, 1fr);
  background: $grey;
}

.workhero {
  grid-column: 1 / -1;
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(150px, 1fr) repeat(6, 1fr) minmax(150px, 1fr);
  position: relative;
  background-image: url('/img/work.jpg');
  @include backgroundImage;

  &__titles {
    grid-column: 3;
    position: absolute;
    bottom: 15rem;
    color: white;

    &--h3 {
      opacity: 0.5;
    }
  }
}

.workcards {
  @include centerColumn;
  margin-top: 5rem;

  &__first {
    background-image: url('/img/card.jpg');
    @include backgroundImage;
    @include transition;

    &:hover {
      @include cardHover;
    }
  }
  &__second {
    background-image: url('/img/card.jpg');
    @include backgroundImage;
    @include transition;

    &:hover {
      @include cardHover;
    }
  }
  &__third {
    background-image: url('/img/card.jpg');
    @include backgroundImage;
    @include transition;

    &:hover {
      @include cardHover;
    }
  }
  &__fourth {
    background-image: url('/img/card.jpg');
    @include backgroundImage;
    @include transition;

    &:hover {
      @include cardHover;
    }
  }
  &__fifth {
    background-image: url('/img/card.jpg');
    @include backgroundImage;
    @include transition;

    &:hover {
      @include cardHover;
    }
  }
  &__sixth {
    background-image: url('/img/card.jpg');
    @include backgroundImage;
    @include transition;

    &:hover {
      @include cardHover;
    }
  }
  &__seventh {
    background-image: url('/img/card.jpg');
    @include backgroundImage;
    @include marginBottom;
    @include transition;

    &:hover {
      @include cardHover;
    }
  }
  &__eigth {
    background-image: url('/img/card.jpg');
    @include backgroundImage;
    @include transition;

    &:hover {
      @include cardHover;
    }
  }
}
