.main__work {
  grid-column: 1 / -1;
  grid-row: 1;
  display: grid;
  grid-template-columns: minmax(150px, 1fr) repeat(6, 1fr) minmax(150px, 1fr);
  background: $grey;

  @include media(tabPort) {
    grid-template-columns: minmax(100px, 1fr) repeat(6, 1fr) minmax(100px, 1fr);
  }
}

// For the hero
#behindCanvas {
  &:hover {
    cursor: url('/img/cursor.svg'), auto;
  }
}

#canvasWhite,
.blob {
  &:hover {
    cursor: url('/img/cursor2.svg'), auto;
  }
}

#green,
#darkGreen,
#blue,
#brown {
  &:hover {
    cursor: pointer;
  }
}

.workcards {
  @include centerColumn;
  margin-top: 5rem;

  &__kawaiicornershop {
    color: $black;
    background-image: url('/img/kawaiiInstagram1.png');
    @include backgroundImage;
    @include transition;
    &:hover {
      @include cardHover;
    }
  }

  &__vol {
    color: $black;
    background-image: url('/img/volBanner.jpg');
    @include backgroundImage;
    @include transition;

    &:hover {
      @include cardHover;
    }
  }
  &__galiway {
    background-image: url('/img/galiwayLogo.svg');
    color: $black;
    @include backgroundImage;
    @include transition;

    &:hover {
      @include cardHover;
    }
  }
  &__photography {
    background-image: url('/img/photosEbony.jpg');
    color: $black;
    @include backgroundImage;
    @include transition;

    &:hover {
      @include cardHover;
    }
  }
  .photography__text {
    color: white;
  }

  &__reload {
    background-image: url('/img/reloadLogo.svg');
    @include backgroundImage;
    @include transition;

    &:hover {
      @include cardHover;
    }
  }
  &__crouchinbunny {
    background-image: url('/img/crouchinbunnyLogo.svg');
    @include backgroundImage;
    @include transition;

    &:hover {
      @include cardHover;
    }
  }
  &__input {
    background-image: url('/img/inputBanner.svg');
    @include backgroundImage;
    @include transition;

    &:hover {
      @include cardHover;
    }
  }
  &__bind {
    background-image: url('/img/bindBanner.svg');
    color: $black;
    @include backgroundImage;
    @include transition;

    &:hover {
      @include cardHover;
    }
  }
}
