.main__work {
  grid-column: 1 / -1;
  grid-row: 1;
  display: grid;
  grid-template-columns: minmax(150px, 1fr) repeat(6, 1fr) minmax(150px, 1fr);
  background: $grey;
}

// For the hero
#behindCanvas {
  &:hover {
    cursor: url('/img/cursor.svg'), auto;
  }
}

#canvasWhite,
.blob {
  &:hover {
    cursor: url('/img/cursor2.svg'), auto;
  }
}

#green,
#darkGreen,
#blue,
#brown {
  &:hover {
    cursor: pointer;
  }
}

.workcards {
  @include centerColumn;
  margin-top: 5rem;

  &__kawaiicornershop {
    background-image: url('/img/kawaiiInstagram1.png');
    @include backgroundImage;
    @include transition;
    &:hover {
      @include cardHover;
    }
  }

  &__vol {
    background-image: url('/img/volBanner.jpg');
    @include backgroundImage;
    @include transition;

    &:hover {
      @include cardHover;
    }
  }
  &__galiway {
    background-image: url('/img/galiwayBanner.png');
    @include backgroundImage;
    @include transition;

    &:hover {
      @include cardHover;
    }
  }
  &__fourth {
    background-image: url('/img/card.jpg');
    @include backgroundImage;
    @include transition;

    &:hover {
      @include cardHover;
    }
  }
  &__fifth {
    background-image: url('/img/card.jpg');
    @include backgroundImage;
    @include transition;

    &:hover {
      @include cardHover;
    }
  }
  &__sixth {
    background-image: url('/img/card.jpg');
    @include backgroundImage;
    @include transition;

    &:hover {
      @include cardHover;
    }
  }
  &__seventh {
    background-image: url('/img/card.jpg');
    @include backgroundImage;
    @include marginBottom;
    @include transition;

    &:hover {
      @include cardHover;
    }
  }
  &__eigth {
    background-image: url('/img/card.jpg');
    @include backgroundImage;
    @include transition;

    &:hover {
      @include cardHover;
    }
  }
}
